html, body {
  background-color: #4d4b5a;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.website {
  margin: 0;
  height: 100%;
}
li {
  list-style-type: none;
}
#channel_header {
  background-color: #35333f;
}
#message_area {
  width: 80%;
  position: absolute;
  height: 100%;
  display: block;
  float: left;
  background: #4d4b5a;
  padding-bottom: 10px;
}
#channel_list {
  background-color: #282730;
  position: absolute;
  left: 80%;
  height: 100%;
  width: 20%;
}
#message_view {
  background: #4d4b5a;
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.form-group {
  margin: 10px;
}
#username_overlay {
  display: block;
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.63); /* Black background with opacity */
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: #504e4e;
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a09e9e;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}